<h1>Stupid Coach</h1>
<p><strong>Your question :</strong></p>
<p><%= @question %></p>
<p><strong>Coach's answer :</strong></p>
<% if @question == "I am going to work"%>
 <p>Great!</p>
<% elsif @question[-1] == "?" %>
<p>Silly question, get dressed and go to work!</p>
<% else %>
<p>I don't care, get dressed and go to work!</p>
<% end %>
<br>
<%= link_to "Ask a new question", ask_path %>
